<div class="container">
  
  <h2 align="center"><%= t('about.main.title') %></h2><br/>
  <ul class="list-group">
    <% for i in 1..5 %>
    <li class="list-group-item">
      <div class="row toggle" id=<%= "dropdown-detail-#{i}" %> data-toggle=<%= "detail-#{i}" %>>
        <div class="col-xs-10">
          <%= t("about.main.menu.item#{i}") %>
        </div>
        <div class="col-xs-2"><%= icon('chevron-down pull-right') %></div>
      </div>
      <div id=<%= "detail-#{i}" %>>
        <hr></hr>
        <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
          <%= raw(t("about.main.menu.content#{i}")) %>
        </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  
</div>

<script language="javascript">
  $(document).ready(function() {
    $('[id^=detail-]').hide();
    $('.toggle').click(function() {
        $input = $( this );
        $target = $('#'+$input.attr('data-toggle'));
        $target.slideToggle();
    });
  });
</script>