<div class="container">
  <h2 align="center"><%= t('about.title') %></h2>
</div>
<div class="container">
  <ul class="list-group">
    <% for i in 1..@item_count %>
    <li class="list-group-item">
      <div class="row toggle" id=<%= "dropdown-detail-#{i}" %> data-toggle=<%= "detail-#{i}" %>>
        <div class="col-xs-10">
          <%= t("about.list.item#{i}.title") %>
        </div>
        <div class="col-xs-2"><%= icon('chevron-down pull-right') %></div>
      </div>
      <div id=<%= "detail-#{i}" %>>
        <hr></hr>
        <%= raw(t("about.list.item#{i}.content")) %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<script language="javascript">
  $(document).ready(function() {
    $('[id^=detail-]').hide();
    $('.toggle').click(function() {
        $input = $( this );
        $target = $('#'+$input.attr('data-toggle'));
        $target.slideToggle();
    });
  });
</script>