<div class="row">
  <div id="home-slider" class="owl-carousel owl-theme">
    <div class="item">
      <%= image_tag("church-inside-1-2000X600.jpg", alt: t('page.title')) %>
    </div>
    <div class="item">
      <%= image_tag("church-inside-2-2000X600.jpg", alt: t('page.title')) %>
    </div>
    <div class="item">
      <%= image_tag("church-inside-3-2000X600.jpg", alt: t('page.title')) %>
    </div>
    <div class="item">
      <%= image_tag("church-inside-6-2000X600.jpg", alt: t('page.title')) %>
    </div>
  </div>
</div>
<div class="container">
  <!--div class="col-md-12" align="center">
  <h1 class="page-header"><%= t('home.title') %></h1>
  </div>
  <div class="col-md-12" align="center">
  <h3><%= t('home.subtitle') %></h3></br>
  </div-->
  <div class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="col-md-12 col-lg-12">
        <div id="card-row" class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
          <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 panel">
            <h1><%= t('home.tab.item1.title')%></h1>
          </div>
          <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 panel">
          <%= display_raw_content(t('home.tab.item1.content')) %>
          </div>
        </div>
        <div class="col-md-12 col-lg-12" id="card-row">
          <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 panel" style="background-color:#6A4E77;color:white;">
            <h1><%= t('home.tab.item2.title') %></h1>
          </div>
          <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 panel" style="background-color:#72587E;color:white;">
            <span style="font-size:1.5em;"><%= display_raw_content(t('home.tab.item2.content')) %></span>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" id="card-row">
          <div class="col-md-4 col-lg-4 panel" style="background-color:#5B4565;color:white;">
            <h2>EVENT 1</h2>
            <p class="event">event 1</p>
          </div>
          <div class="col-md-4 col-lg-4 panel" style="background-color:#72587E;color:white;">
            <h2>EVENT 2</h2>
            <p class="event">event 2</p>
          </div>
          <div class="col-md-4 col-lg-4 panel" style="background-color:#846D8D;color:white;">
            <h2>EVENT 3</h2>
            <p class="event">event 3</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-12" id="card-row">
          <div class="col-md-7 col-lg-7 panel" style="background-color:#E95533;color:white;">
            <h2 style="text-align:left;"><%= t('home.tab.item3.title')%></h2>
            <span style="text-align:left;"><%= display_raw_content(t('home.tab.item3.content')) %></span>
          </div>
          <div class="col-md-5 col-lg-5 panel" style="background-color:#EF6E54;color:white;">
            <h2><%= t('home.tab.item4.title')%></h2>
            <p class="event" style="font-size:3em;"><%= icon('youtube-square') %></p>
          </div>
        </div>
      </div>
  </div>
</div>
<script language="JavaScript">
  $(document).ready(function() {
    // carousel
    $("#home-slider").owlCarousel({
      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem : true
    });
    $('#home-slider').trigger('owl.play', 10000);
  }); 
</script>