<!--div class="container"-->
  <h1>Translations for <%= @locale %></h1>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <% @translation = Translation.new(locale: @locale) %>
    <%= form_for @translation, url: locale_translations_path(:params => { key: params[:key] }), html: { class: "form-horizontal center" } do |form| %>
    <div class="form-group">
      <%= form.label :locale, class: "control-label" %> <%= form.text_field :locale, readonly: true, class: "form-control" %>
      <%= form.label :key, class: "control-label" %> <%= form.text_field :key, class: "form-control" %>
      <%= form.label :value, class: "control-label" %> <%= form.text_area :value, value: I18n.t(@translation.key, locale: @locale), class: "form-control" %>
    </div>
    <div class="form-group">
    <%= form.submit 'Save Translation', class: "btn btn-default btn-primary" %>
    </div>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Translation Key</th>
        <th>Setting</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @translations.each do |translation| %>
      <tr id="<%= translation.key %>">
        <td><%= translation.key %></td>
        <td><%= truncate(translation.nil? ? I18n.t(translation.key, locale: @locale) : translation.value, length: 50, separator: " ", omission: " ...(more)") %></td>
        <td> <% if translation.nil? %>
        <%= link_to "Edit", new_locale_translation_url(@locale, key: translation.key, params: { key: params[:key] }) %>
        <% else %>
        <%= link_to "Edit", edit_locale_translation_url(@locale, translation, params: { key: params[:key] }) %>
        <%= link_to "Reset", locale_translation_url(@locale, translation, params: { key: params[:key] }), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<!--/div-->
