<div class="container">
<%= form_for @translation, url: locale_translations_path, html: { class: "form-horizontal center" } do |form| %>
<%= form.label :locale, class: "control-label" %> <%= form.text_field :locale, readonly: true, class: "form-control" %>
<%= form.label :key, class: "control-label" %> <%= form.text_field :key, readonly: true, class: "form-control" %>
<%= form.label :value, class: "control-label" %> <%= form.text_area :value, value: I18n.t(@translation.key, locale: @locale), class: "form-control" %>

<%= form.submit 'Save Translation', class: "btn btn-default btn-primary" %> <%= link_to "Cancel", locale_translations_url(@locale), class: "btn btn-warning" %>
<% end %>
</div>
