<div class="container">
  <h1><%= t('gallery.title')%></h1>
  <% @photos.each do |p| %>
  <div class="col-md-3 col-xs-3" style="padding:3px;" align="center">
    <a href="<%= p.photo_url %>" data-toggle="lightbox" data-title="<%= p.tag %>"/>
    <%= image_tag p.photo.thumb.url %></a>
    <%= raw "<br/>#{p.tag}" if p.tag? %></span>
  </div>
  <% end %>
</div>