<!-- source: http://bootsnipp.com/snippets/featured/accordion-list-group-menu -->
<div class="col-sm-3 col-md-3">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= icon('newspaper-o') %>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Content</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="list-group-item">
            <%= icon('home', class: "text-primary") %>
            <%= link_to "Header", "#" %>
            <ul class="list-group">
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "Korean", locale_translations_url('ko', params: {key: 'header' }) %>
              </li>
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "English", locale_translations_url('en', params: {key: 'header' }) %>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <%= icon('home', class: "text-primary") %>
            <%= link_to "Footer", "#" %>
            <ul class="list-group">
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "Korean", locale_translations_url('ko', params: {key: 'footer' }) %>
              </li>
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "English", locale_translations_url('en', params: {key: 'footer' }) %>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <%= icon('home', class: "text-primary") %>
            <%= link_to "Home Page", "#" %>
            <ul class="list-group">
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "Korean", locale_translations_url('ko', params: {key: 'home' }) %>
              </li>
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "English", locale_translations_url('en', params: {key: 'home' }) %>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <%= icon('info', class: "text-primary") %>
            <%= link_to "About Page", "#" %>
            <ul class="list-group">
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "Korean", locale_translations_url('ko', params: {key: 'about' }) %>
              </li>
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "English", locale_translations_url('en', params: {key: 'about' }) %>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <%=  %>
            <%= link_to icon('envelope-o')+" Contact", "#" %>
            <ul class="list-group">
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "Korean", locale_translations_url('ko', params: {key: 'contact' }) %>
              </li>
              <li class="list-group-item">
                <%= icon('pencil-square-o', class: "text-primary") %> <%= link_to "English", locale_translations_url('en', params: {key: 'contact' }) %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= icon('comments-o') %>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Blog</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="list-group">
          <%= link_to icon('comments-o')+' Articles', articles_path, class: "list-group-item" %>
          <%= link_to icon('picture-o')+' Photos', photos_path, class: "list-group-item" %>
        </div>
      </div>
    </div>
  </div>
</div>