<header>
	<div>
		<div class="container">
			<div id="logo-container"><%= link_to image_tag("ckuc_new_logo-20160505.png", alt: t('page.title'), style: "max-width:100%;height:auto;") %></div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <%= icon('bars',style: "color:#ffffff;") %> <span style="color:#ffffff;">Menu</span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left" style="font-size:1.1em;">
						<li id="nav_home">
							<%= link_to icon('home')+' '+t('header.menu.home'), root_path(:params => { locale: params[:locale] }) %>
						</li>
						<li id="nav_info">
							<%= link_to icon('info')+' '+t('header.menu.about'), about_path(:params => { locale: params[:locale] }) %>
						</li>
						<li>
							<%= link_to icon('calendar-o')+' '+t('header.menu.service'), about_path(:params => { locale: params[:locale] }) %>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= icon('users') %> <%= t('header.menu.group') %><span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><%= link_to t('header.menu.love'), "#" %></li>
							  <li><%= link_to t('header.menu.belief'), "#" %></li>
							  <li><%= link_to t('header.menu.youth'), "#" %></li>
							  <li><%= link_to t('header.menu.choir'), "#" %></li>
							  <li><%= link_to t('header.menu.todak'), "#" %></li>
							</ul>
						</li>
						<li>
							<%= link_to icon('newspaper-o')+' '+t('header.menu.news'), about_path(:params => { locale: params[:locale] }) %>
						</li>
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= icon('comments-o') %> <%= t('header.menu.blog') %><span class="caret"></span></a>
							<ul class="dropdown-menu">
							  <li><%= link_to icon('newspaper-o')+' '+t('header.menu.article'), blog_path %></li>
							  <li><%= link_to icon('picture-o')+' '+t('header.menu.gallery'), gallery_path(:params => { locale: params[:locale] }) %></li>
							</ul>
						</li>
						<li>
							<%= link_to icon('envelope-o')+' '+t('header.menu.contact'), contact_path(:params => { locale: params[:locale] }) %>
						</li>
						<li>
							<% if I18n.locale != I18n.default_locale %>
							<%= link_to "English", :locale=>'en'%>

							<% else %>
							<%= link_to "Korean", :locale=>'ko'%>

							<%end%>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>