<header>
	<div>
		<div class="container">
			<%= link_to image_tag("ckuc_new_logo-20160505.png", alt: "갈보리 한인 연합교회") %>
		</div>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <%= icon('bars',style: "color:#ffffff;") %> <span style="color:#ffffff;">Menu</span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left" style="font-size:1.1em;">
						<li id="nav_home">
							<%= link_to icon('home')+' '+t('menu.home'), root_path(:params => { locale: params[:locale] }) %>
						</li>
						<li id="nav_info">
							<%= link_to icon('info')+' '+t('menu.about'), about_path(:params => { locale: params[:locale] }) %>
						</li>
						<li>
							<%= link_to icon('calendar-o')+' '+t('menu.service'), about_path(:params => { locale: params[:locale] }) %>
						</li>
						<li>
							<%= link_to icon('group')+' '+t('menu.group'), about_path(:params => { locale: params[:locale] }) %>
						</li>
						<li>
							<%= link_to icon('newspaper-o')+' '+t('menu.news'), about_path(:params => { locale: params[:locale] }) %>
						</li>
						<li>
							<%= link_to icon('bold')+' '+t('menu.blog'), about_path(:params => { locale: params[:locale] }) %>
						</li>
						<li>
							<%= link_to icon('envelope-o')+' '+t('menu.contact'), contact_path(:params => { locale: params[:locale] }) %>
						</li>
						<li>
							<% if I18n.locale != I18n.default_locale %>
							<%= link_to "English", :locale=>'en'%>

							<% else %>
							<%= link_to "Korean", :locale=>'ko'%>

							<%end%>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>